@import "../../styles/constants";

.upload-and-preview-block {
  display: flex;
  flex-direction: column;

  .loader-watch {
    align-self: center;
  }
  @media (min-width: $screen-xs) {
  }
}

.upload-dropzone-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  @media (min-width: $screen-xs) {
    margin-bottom: 15px;
    flex-direction: row;
  }
}

.upload-dropzone-block {
  border: 2px solid $default-light-blue;
  background-color: $default-light-blue;
  color: white;
  border-radius: 10px;
  margin: 0 4vw;
  width: 90vw;
  height: 15vw;
  cursor: pointer;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:active {
    background-color: darken($default-light-blue, 5%);
  }
  p {
    text-align: center;
    display: block;
    margin: 3vw 3vw;
    font-size: 1.5em;
    overflow: hidden;
    max-height: 11vw;
    &.upload-dropzone-text {
      &.desktop {
        visibility: hidden;
        @media (min-width: $screen-xs) {
          visibility: visible;
        }
      }
    }
  }

  @media (min-width: $screen-xs) {
    margin: 0 13vw;
    margin-right: 15px;
    width: 200px;
    height: 200px;
    p {
      margin: 30px 10px 30px;
      font-size: $font-size-s;
    }
  }

  @media (min-width: $screen-m) {
    border: 4px dashed $default-light-blue;
    background-color: $default-white;
    color: black;
    text-decoration-style: none;
  }
}

.upload-image-button {
  height: 40px;
  width: auto;
  max-width: 98vw;
  border-radius: 3px;
  border: none;
  background-color: gray;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  color: #fff;
  margin: 15px 3vw 0;
  padding: 0 20px;
  cursor: pointer;
  &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      background-color: silver;
      &:hover {
          background-color: darken(silver, 5%);
      }
  }
  &:hover {
      background-color: darken(gray, 5%);
  }
  @media (min-width: $screen-xs) {
    max-width: fit-content;
    margin: 15px 0 0 0;
  }
}

.prediction-wrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  .prediction-text {
      padding: 0 2vw;
      margin: 0 auto;
      font-size: $font-size-s;
      &.breed-found {
        span {
          font-weight: 800;
        }
      }
      @media (min-width: $screen-xs) {
        padding: unset;
        margin: 15px;
        font-size: $font-size-m;
      }
  }
  @media (min-width: $screen-xs) {
    max-width: fit-content;
  }
}

.upload-image-preview {
  margin: 3vw auto;
  border: 4px dashed $default-light-blue;
  background-color: $default-white;
  width: 80vw;
  height: 80vw;
  position: relative;
  img, .image-placeholder {
    width: 80vw;
    height: 80vw;
    object-fit: cover;
  }
  .image-placeholder {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      margin: auto 0;
      font-size: 5em;
      text-align: center;
    }
  }
  @media (min-width: $screen-xs) {
    border: 4px dashed $default-light-blue;
    margin: 0px 15px 0px 0px;
    width: 200px;
    height: 200px;
    img, .image-placeholder {
      width: 200px;
      height: 200px;
    }
  }
  @media (min-width: $screen-m) {
    margin: 0px 15px 0px 0px;
  }
  .upload-image-preview--delete {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    right: 0;
    background-color: $default-alert-red;
    &:after {
        color: $default-white;
        transform: scale(1.8);
        display: inline-block;
        content: "\00d7";
        margin-left: 8px;
        margin-top: 4px;

        @media (min-width: $screen-m) {
          margin-left: 1px;
          margin-top: 4px;
        }
    }
    &:hover {
        background-color: darken($default-alert-red, 10%);
    }
  }
}